services:
  nginx:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - node
    environment:
      - node:3000
      - php:9000
  node:
    build:
      context: ./node
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
    expose:
      - "3000:3000"

  php:
    build:
      context: ./php
      dockerfile: Dockerfile
    expose:
      - "9000:9000"

networks:
  default:
    name: reverse-proxy-demo